extends layout

block body
  #hero
    #progressBar
    #statusTop
      span.show-leech #{ 'Downloading ' }
      span.show-seed #{ 'Seeding ' }
      code: a#torrentLink(href='https://webtorrent.io/torrents/sintel.torrent') sintel.torrent
      span.show-leech #{ ' from ' }
      span.show-seed #{ ' to ' }
      code#numPeers 0 peers
      | #{ '. ' }
    #statusBottom
      code#downloaded
      | #{ ' of '}
      code#total
      | #{ ' — '}
      span#remaining
    #svgWrap
    #videoWrap
      .video

  article
    :markdown
      # BitTorrent over WebRTC

      **WebTorrent** is a streaming torrent client for the **browser**. YEP, THAT'S RIGHT. THE BROWSER.

      It's written completely in JavaScript – the language of the web – and uses
      **WebRTC** for true peer-to-peer transport. No browser plugins, extensions, or
      installation is required.

      ## Why?

      Imagine a peer-to-peer YouTube where viewers help to host the site's content. By making BitTorrent easier to use, we can get more people to participate and take the first steps to re-decentralizing the Internet.

      ## How do I try it out?

      You can see WebTorrent in action at [Instant.io](https://instant.io).
      Send a file to a friend using BitTorrent!

      # Learn more about WebTorrent

    div.featuredCenter
      a.btn.large(href='/intro') Get Started
      a.btn.large(href='/docs') Docs
      a.btn.large(href='/faq') FAQ
